<!--
Dependency licenses:
Vue.js: MIT License
Highcharts: Personal use license to the email address associated with @agannon
!-->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<style>
table th {
  border-right: solid gray
}

</style>
<div id="app">

  <div id="container"
       style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

  <label for="key">Display</label>
  <select id="key" v-model="keyword">
    <option v-for="option in displayOptions" v-bind:value="option.value">
      {{ option.text }}
    </option>
  </select>

  <label for="filter">Filter By</label>
  <select id="filter" v-model="chosenFilter">
    <option v-for="option in filterTypes" v-bind:value="option.value">
      {{ option.text }}
    </option>
  </select>
  <div v-if="chosenFilter.length > 0">
    <label for="param">Filter Parameter</label>
    <select id="param" v-model="chosenLookup">
      <option v-for="option in filterOptions[chosenFilter]" v-bind:value="option">
        {{ option }}
      </option>
    </select>
  </div>

  <lang-table v-bind:words="sortedList">
  </lang-table>
</div>

<script>

Vue.component("lang-table", {
  props: ["words"],
  template: `
  <div class="lang-table">
  <h3>Word Information</h3>
    <p>
  <button onclick="app.prevPage()">Previous</button>
  <button onclick="app.nextPage()">Next</button>
  </p>
  <table style="text-align:center">
  <th onclick="app.sort('frequencyRank')">Frequency Rank</th>
  <th onclick="app.sort('word')">Word</th>
  <th onclick="app.sort('originLang')">Origin Language</th>
  <th onclick="app.sort('originExample')">Origin Language Example</th>
  <th onclick="app.sort('langBranch')">Origin Language Branch</th>
  <th onclick="app.sort('branchLang')">Origin Branch Language</th>
  <th onclick="app.sort('branchExample')">Branch Language Example</th>
  <th>Path to English</th>
  <tr v-for="entry in words">
  <td>{{ entry.frequencyRank }}</td>
  <td>{{ entry.word }}</td>
    <td>{{ entry.originLang }}</td>
  <td>{{ entry.originExample }}</td>
  <td>{{ entry.langBranch }}</td>
  <td>{{ entry.branchLang }}</td>
  <td>{{ entry.branchExample }}</td>
  <td>{{ entry.langPath }}</td>

</tr>
</table>

  </div>
  `
})

var app = new Vue({
  el: "#app",
  data: {
    message: "Hello Vue!",
    initialUrlString: "http://localhost:8080/api/words/",
    apiResponse: [],
    series: "",
    keyword: "originLang",
    displayOptions: [
      { text: "Origin Language", value: "originLang" },
      { text: "Origin Language Branch", value: "langBranch" }
    ],
    chosenFilter: "",
    filterTypes: [
      { text: "None", value: "" },
      { text: "Origin Language", value: "originLang" },
      { text: "Origin Language Branch", value: "langBranch" },
      { text: "Path to English", value: "langPath" }
    ],
    chosenLookup: "",
    filterOptions: {
      "originLang": [
        "Dutch", "English", "French", "German", "Latin", "Norse", "Yiddish"
      ],
      "langBranch": [
        "Germanic", "Hellenic", "Indo-Iranian", "Italic", "Semitic"
      ],
      "langPath": [
        "Arabic", "Dutch", "Frankish", "French", "Frisian",
        "Gallic", "German", "Greek", "Italian", "Latin", "Norse", "Persian",
        "Sanskrit", "Scandinavian"
      ]
    },
    currentSort: "frequencyRank",
    currentSortDir: "asc",
    pageSize: 25,
    pageNumber: 1

  },
  mounted: function() {
    this.getApiCall(this.initialUrlString)
  },
  methods: {
    getApiCall: function(urlString) {
      let xhr = new XMLHttpRequest()
      xhr.open("GET", urlString, true)
      xhr.onload = function(e) {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            let j = JSON.parse(xhr.response)
            Vue.set(app, "apiResponse", j)
          }
        }
      }
      xhr.onerror = function(e) {
        console.error(xhr.statusText)
      }
      xhr.send(null)

    },
    getCount: function(lookup, json) {
      mapping = json.map(x => x[lookup])
      lookupSet = new Set(mapping)
      count = Array.from(lookupSet).map(x => [x, mapping.filter(y => y == x).length])
      return count
    },
    makeData: function(count) {
      dataFormat = []
      for (let i = 0; i < count.length; i++) {
        dict = { name: count[i][0], y: count[i][1] }
        dataFormat.push(dict)
      }
      return dataFormat
    },
    sortData: function(data) {
      return data.sort(function(a, b) {return b.y - a.y})
    },
    getApiQuery: function() {
      let baseString = "http://localhost:8080/api/words"
      let newString = ""
      if (this.chosenFilter && this.chosenLookup) {
        newString = baseString + "?" + this.chosenFilter +
          "=%" + this.chosenLookup + "%"
        return newString
      } else {
        return baseString + "/"
      }
    },
    sort: function(sortable) {
      if (sortable === this.currentSort) {
        this.currentSortDir = this.currentSortDir === "asc" ? "desc" : "asc"
      }
      this.currentSort = sortable
    },
    nextPage: function() {
      if ((this.pageNumber * this.pageSize) < this.apiResponse.length) {
        this.pageNumber++
      }
    },
    prevPage: function() {
      if (this.pageNumber > 1) {
        this.pageNumber--
      }
    }
  },
  computed: {
    setData: function() {
      return this.sortData(this.makeData(this.getCount(this.keyword, this.apiResponse)))
    },
    sortedList: function() {
      return this.apiResponse.sort((a, b) => {
        let compare = 1
        if (typeof (a[this.currentSort]) === "number") {
          if (this.currentSortDir === "desc") {compare = -1}
          if (a[this.currentSort] < b[this.currentSort]) {return -1 * compare}
          if (a[this.currentSort] > b[this.currentSort]) {return compare}
          return 0
        } else {
          if (this.currentSortDir === "desc") {compare = -1}
          if (a[this.currentSort].toLowerCase() < b[this.currentSort].toLowerCase()) {return -1 * compare}
          if (a[this.currentSort].toLowerCase() > b[this.currentSort].toLowerCase()) {return compare}
          return 0
        }
      }).filter((row, index) => {
        let start = (this.pageNumber - 1) * this.pageSize
        let end = this.pageNumber * this.pageSize
        if (index >= start && index < end) return true
      })
    }
  },
  watch: {
    apiResponse: function(val) {
      c = Highcharts.charts[0]
      c.series[0].setData(this.setData)
    },
    keyword: function(val) {
      c = Highcharts.charts[0]
      c.series[0].setData(this.setData)
    },
    chosenLookup: function(val) {
      this.getApiCall(this.getApiQuery())
    }
  }

})
Highcharts.chart("container", {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: "pie"
  },
  title: {
    text: ""
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: "pointer",
      dataLabels: {
        enabled: true,
        format: "<b>{point.name}</b>: {point.y}"
      }
    }
  },
  exporting: false,
  series: series = [{
    name: "",
    colorByPoint: true,
    data: app.setData

  }]
})
</script>



